{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Orem Ecommerce Store </title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
        <h1 class="sitename">Orem Stores</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home<br></a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="">Checkout</a></li>
          <li><a href="/purchase">Purchase</a></li>
          <li><a href="">Tracker</a></li>
        
          
        </ul>
        
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      {% if request.user.is_authenticated %}
      <!-- cart  bootsrap code-->
      <button type="button" class="btn btn-dark ml-4" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus">
      <!-- end of cart bootsrap code-->
        <a class="btn-getstarted">Welcome {{user.username}}</a>
      <li><a href="/baseauthentication/logout/">Logout</a></li>
      {% else %}
      <li><a href="/baseauthentication/signup/">Signin</a></li>
      {% endif %}

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Grow your business with Orem</h1>
            <p>We are team of talented designers making Ecommerce websites.</p>
            <div class="d-flex">
              <a href="#about" class="btn-get-started">Get Started</a>
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

        </div>

      </div>

    </section><!-- /Clients Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Products</h2>
        <p>Top Quality products available in the market!</p>
      </div><!-- End Section Title -->
      {% {% comment "looping all products " %}{% endcomment %}%}
{% for productt,range,nSlides in allproducts %}
      <div class="container">
        <div class="row gy-5">
          <div class="my-3 text-center text-success bg-light">
            <h3> {{productt.0.category}} Flashsale</h3>
          </div>

          <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
{% for i in productt %}
              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-briefcase"></i>
                <h4><a href="" class="stretched-link">Corporis voluptates sit</a></h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-gem"></i>
                <h4><a href="" class="stretched-link">Ullamco laboris nisi</a></h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-broadcast"></i>
                <h4><a href="" class="stretched-link">Labore consequatur</a></h4>
                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-easel"></i>
                <h4><a href="" class="stretched-link">Beatae veritatis</a></h4>
                <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
              </div><!-- Icon-Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->



            </div>

          </div>

        </div>

      </div>
  

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>{{ productt.0.category}} Flashsale</h2>
        <p> Top quality products in the marker!</p>
      </div><!-- End Section Title -->
    </section><!-- /Services Section -->

    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          {% for i in productt %}

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="img">
                <img src="/media/{{i.image}}" class="img-fluid" alt="">
              </div>
              <div class="details">
                <a href="service-details.html" class="stretched-link" id="{{i.id}}">
                  <h3>{{i.product_name}}</h3>
                 <h6> price:Sh<span id="{{i.id}}"> {{i.price}}</span></h6>
                </a>
                <p>{{i.product_description|slice:"0:60"}}.</p>
                <button id="{{i.id}}">Add to cart</button>
                <a href="/media/{{i.image}}" class="img-fluid" alt="">View</a>
              </div>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}
      {% endfor %}


        </div>

      </div>

    </section><!-- /Alt Services Section -->

 
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Reach us on</p>
      </div><!-- End Section Title -->

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Nairobi</h3>
                <p>Moi Avenue, Nairobi, Kenya</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+2547 0508 2196</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>trilliondirham@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-7">
            <form action="" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Orem</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">
        Designed by <a href="">Orem Codes</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <!-- add to acrt javascript code -->
   <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOb1gut" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBh1AXv9k" crossorigin="anonymous"></script>

  <script>
    // finding out the cart from local storage/updating
    if (localStorage.getItem('cart') == null){
      var cart = {};
    } else {
      cart = JSON.parse(localStorage.getItem('cart'));
      updateCart(cart);
    }
    //adding/incrementing Codes
    // $('cart').click(function()){
    $('.divpr').on('click','button.cart',function(){
      var idstr = this.id.toString();
      //autoincrementing in if part,else part is to add selected item price together
      if (cart[idstr] =! undefined ){
        qty = cart[idsrt][0]+1;
      } else{
        qty = 1;
        name = document.getElementById('name'+ idstr).innerHTML;
        price = document.getElementById('price'+ idstr).innerHTML;
        cart[idstr] = [qty,name,price];
      }
      updateCart(cart);
      // changing local storage session
      localStorage.setItem('cart',JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });
    // add pop over cart
    $('#popcart').popover();
    // running updatePopover function
    updatePopover(cart);
    
    function updatePopover(cart){
      console.log('We are inside update popover');
      var popStr = ""
      var popStr = popStr + "<h5>cart for your items in my shopping cart</h5><div class='mx-2 my-2'>";
      var i = 1;
      // getting & poping the name of selected item and number
      for (var item in cart){
        popStr = popStr + "<b>" + i +"</b> ";
        popStr = popStr + document.getElementById('name'+ item).innerHTML.slice(0,19) + "..." + "<b>" + cart[item][0] + "</b>" + "Qty" + '<br>';
        i = i + 1;
      }
      popStr = popStr + "</div> <a href = '/checkout'><button class='btn btn-success' id='clearCart'> Checkout </button></a><button class='btn btn-dark' onclick='clearCart()' id='clearCart'>ClearCart</button>"
      document.getElementById('popcart').setAttribute('data-content',popStr);
      $('#popcart').popover('show');
    }

    function clearCart(){ 
      cart = JSON.parse(localStorage.getItem('cart'));
      for (var item in cart){document.getElementById('div' + item).innerHTML = '<button id="' + item '" class="btn btn-success cart">Add to cart</button>'}
      localStorage.clear();
      cart = {};
      updateCart(cart);
    }
    function updateCart(cart){ 
      var sum = 0; 
      sum = sum + cart[item][0];
      document.getElementById('cart').innerHTML = "<button id='minus" + item + "'class= 'btn btn-success minus'>-</button><span id='val" + item + "''>" + cart[item][0] + "<span><button id='plus" + item + "'class='btn btn-success plus'>+</button>";

      }
    localStorage.setItem('cart',JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
    updatePopover(cart);
 }
 // if plus or minus is click change the basket as well as the display value
  $('.divpr').on("click","minus.button",function(){
    a = this.id.slice(7,);
    cart['pr'+ a][0] = cart['pr' + a][0] - 1 ;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
  })
  
  $('.divpr').on("click","button.plus",function(){
    a = this.id.slice(6,);
    cart['pr'+ a][0] = cart['pr' + a][0] + 1 ;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
  })
  




    </script>

</body>

</html>